@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}
@keyframes diss {
    from {transform: scale(1)}
    to {transform: scale(0.1)}
}

.SYYImageShow {
    transition:
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    animation-name: zoom;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.55);
}


#SSYLargeImage {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    /* max-width: 100%; */

}

.SYYImageDiss {
    display: none;
    animation-name: diss;

}